@model JobApplicationSystem.DAL.Models.Job

@{
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div style="width: 80%; margin: 0 auto; background-color: #DBD6D2; padding: 20px; border-radius: 10px; font-family: 'Anek Gurmukhi', sans-serif;">
    <h3 class="text-center">Edit Job</h3>
    <form asp-action="EditJob" asp-route-id="@Model.JobId" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" asp-for="Employer" />
        <div class="row mr-lg-5 ml-lg-5 mb-3">
            <div class="col-md-6 pt-3">
                <label asp-for="Title" style="font-weight: 600">Job Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Ex. Web Developer" />
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-6 pt-3">
                <label asp-for="NumberPosition" style="font-weight: 600">Number of Positions</label>
                <input asp-for="NumberPosition" type="number" class="form-control" placeholder="Enter number of positions" />
                @Html.ValidationMessageFor(model => model.NumberPosition, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5 mb-3">
            <div class="col-md-12 pt-3">
                <label asp-for="Description" style="font-weight: 600">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Enter Job Description" />
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5 mb-3">
            <div class="col-md-6 pt-3">
                <label asp-for="Education" style="font-weight: 600">Education Required</label>
                <input asp-for="Education" type="text" class="form-control" placeholder="Ex. BSc, MSc, PhD" />
                @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-6 pt-3">
                <label asp-for="Experience" style="font-weight: 600">Experience Required</label>
                <input asp-for="Experience" type="text" class="form-control" placeholder="Ex. 2 years" />
                @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5 mb-3">
            <div class="col-md-6 pt-3">
                <label asp-for="Salary" style="font-weight: 600">Salary</label>
                <input asp-for="Salary" type="text" class="form-control" placeholder="Ex. 2500/Month" />
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-6 pt-3">
                <label asp-for="LastDateToApply" style="font-weight: 600">Last Date To Apply</label>
                <input asp-for="LastDateToApply" type="date" class="form-control" />
                @Html.ValidationMessageFor(model => model.LastDateToApply, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5 mb-3">
            <div class="col-md-12 pt-3">
                <label asp-for="Address" style="font-weight: 600">Address</label>
                <input asp-for="Address" class="form-control" placeholder="Enter Work Location" />
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5 mb-3">
            
            <div class="col-md-6 pt-3">
                <div class="form-group">
                    <label asp-for="CompanyLogo" class="control-label">Current Company Logo: </label>
                    <img id="currentPhoto" src="~/images/@Model.CompanyLogo" alt="Current Photo" style="max-width: 100px; padding-bottom: 20px; padding-left: 10px;" />
                    <input type="file" id="fileInput" style="display: none" accept="image/*" />
                    <input type="hidden" asp-for="CompanyLogo" />
                    <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('fileInput').click()">Change Photo</button>
                    @Html.ValidationMessageFor(model => model.CompanyLogo, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="row mr-lg-5 ml-lg-5">
            <div class="col-md-6 pt-3">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Go Back</a>

            </div>
        </div>
    </form>
</div>

<style>
    .btn-primary {
        background-color: #5A4D46;
        border-color: #5A4D46;
        text-transform: uppercase;
    }

        .btn-primary:hover {
            background-color: #483F38;
            border-color: #483F38;
        }
</style>
<script>
    // Update the current photo and the hidden input field with the selected file's path
    document.getElementById('fileInput').addEventListener('change', function (e) {
        const fileInput = e.target;
        const fileName = fileInput.files[0].name;
        const currentPhoto = document.getElementById('currentPhoto');
        const photoUrlHidden = document.querySelector('input[type="hidden"][name="PhotoUrl"]');

        // Update the current photo's source to display the newly selected photo
        currentPhoto.src = URL.createObjectURL(fileInput.files[0]);

        // Set the value of the hidden input field to the file name
        photoUrlHidden.value = fileName;
    });
</script>
<link href="https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
